<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-100">
    <div class="flex h-screen">
        
        <!-- Main Content -->
        <div class="flex-1 p-6 overflow-auto">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='dark-mode.js') }}"></script>
    <script>
        const sidebar = document.getElementById('sidebar');
        const toggleOpen = document.getElementById('sidebar-toggle');

        toggleOpen.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
        });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
